<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ELKW46CVFF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ELKW46CVFF');
    </script>
    <title>{{ site.title }}</title>
  </head>
  <body>
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        
        <ul style="text-align:center;">
            {% for menu-item in site.data.navigation.sidebar %}
            <li style="text-align:center;display:inline;float:left;padding-left: 10pt;padding-right: 15pt"><a href="{{ menu-item.url }}">{{ menu-item.title}}</a></li>
            {% endfor %}
        </ul> 
        <br /><br />

      </div>
  </header>

    <div class="container">
      
      <section id="main_content">
        {{ content }}
      </section>
    </div>

  <footer style="text-align:center;padding:3px;color: white;">
    <p>
      <a href="https://github.com/ppashakhanloo"><i class="fa fa-github fa-3"></i></a>.
      <a href="https://www.linkedin.com/in/pardisp"><i class="fa fa-linkedin fa-3"></i></a>.
      <a href="https://www.twitter.com/_studyholic"><i class="fa fa-twitter fa-3"></i></a>.
      <a href="mailto:pardisp@seas.upenn.edu"><i class="fa fa-envelope fa-3"></i></a>.
      <a href="https://www.cis.upenn.edu/~pardisp/docs/pardis_pashakhanloo.pdf">Resume</a> 
    </p>
  </footer>
  </body>
</html>
